.container
  .row
    .col-md-4
      .copyright
        Copyright &copy; AlumniNetwork.com 2015
    .col-md-4
      %ul
        .list-inline.social-buttons
          %li
            .fa.fa-twitter
          %li
            .fa.fa-facebook
          %li
            .fa.fa-linkedin
    .col-md-4
      %ul
      .list-inline.quicklinks
        %li
          Privacy Policy
        %li
          Terms of Use
