<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      New Company registered:
        <%= @company.name%>.<br>
        <%= @company.details%>.<br>
        <%= @company.email%>.<br>
    </p>
    <p>
      To approve the company, just follow this link:.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
